<%= form_for :item, url: item_path(@item), method: :patch do |f| %>
<div class = "row">
	<div class= "row">
		<div class ="col-sm-4 col-md-4 col-xs-4"><%= f.label :name %></div>
		<div class ="col-sm-4 col-md-4 col-xs-4"><%= f.label :price %></div>
		<div class ="col-sm-4 col-md-4 col-xs-4"><%= f.label :count %></div>
	</div>
	
	<div class = "row">
		<div class ="col-sm-4 col-md-4 col-xs-4"><%= f.text_field :name %></div>
		<div class ="col-sm-4 col-md-4 col-xs-4"><%= f.text_field :price %></div>
		<div class ="col-sm-4 col-md-4 col-xs-4"><%= f.text_field :count %></div>
		
	</div>
	<br>
	<div class = "row text-center"> <%= f.submit %></div>
</div>
<% end %>